* {
  box-sizing: inherit;
  text-align: left;
  margin: auto;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #777777;
  background-image: url("background.jpeg");
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
/* For the header */

#headsection {
  background: white;
  border: 1px solid #cccccc;
  height: 60px;
  width: 100%;
}

#headsize {
  max-width: 960px;
}
.name {
  background: #4aaaa5;
  color: white;
  float: left;
  padding: 0 10px;
  height: 60px;
  width: 30%;
}

#erik {
  padding: 5%;
  font-family: "Georgia", Times, Times New Roman, serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#middle {
  width: 40%;
  background-color: white;
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  width: 30%;
  float: right;
}

li a {
  display: block;
  color: #777777;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 18px;
  float: right;
}

/* For the about me page   */

#aboutme {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  max-width: 960px;
}

#aboutmeTitle {
  color: #4aaaa5;
  padding: 15px 15px;
  text-align: left;
  font-family: "Georgia", Times, Times New Roman, serif;
}

#IMGaboutme {
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left;
}
#aboutmeDetails {
  padding: 20px;
}

/* for the contact info box */
.contactForm {
  max-width: 960px;
  font-size: 17px;
  background-color: white;
  border: 1px solid #dddddd;
  max-width: 960px;
}

form {
  padding: 20px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
}

/* for the portfolio table   */

#main {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  max-width: 960px;
}

#portfolioTitle {
  color: #4aaaa5;
  padding: 15px 15px;
  text-align: left;
  bottom: 20px;
  font-family: "Georgia", Times, Times New Roman, serif;
}

.portfolioImage {
  width: 214px;
  height: 214px;
  border: 1px solid #dddddd;
}

.row {
  display: flex;
  width: 65%;
}

.column {
  width: 50%;
}

.container1 {
  padding: 10px 0;
}
.content {
  background-color: white;
  width: 50%;
  padding: 20px;
}

.portTitle {
  background-color: #4aaaa5;
  position: absolute;
  color: white;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 20px;
  width: 215px;
  height: 30px;
  text-align: center;
  margin: -80px 0 0;
}

/* For the footer on all 3 pages */
footer {
  padding: 15px 0 0;
  background: #666666;
  color: white;
  font-size: 12px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
}

@media screen and (max-width: 980px) {
  .name {
    width: 45%;
  }

  #headsize {
    position: relative;
  }
  #erik {
    text-align: center;
  }

  #middle {
    display: block;
  }

  .headerlist {
    float: right;
    width: 280px;
  }

  #aboutme {
    margin: 10% 0;
  }

  #IMGaboutme {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .name {
    width: 45%;
  }

  #headsize {
    position: relative;
  }
  #erik {
    text-align: center;
  }

  #middle {
    display: block;
  }

  .headerlist {
    float: right;
    width: 280px;
  }

  #aboutme {
    margin: 10% 0;
  }

  #IMGaboutme {
    float: none;
  }

  #main {
    margin: 0% 2%;
  }

  .row {
    width: 75%;
  }
}

@media screen and (max-width: 640px) {
  /* about me page */
  .name {
    float: none;
    width: 100%;
  }

  #erik {
    text-align: center;
  }

  #middle {
    display: none;
  }

  .headerlist {
    float: none;
    width: 100%;
  }

  #aboutme {
    margin: 10% 0;
  }

  #IMGaboutme {
    float: none;
  }
  .row {
    display: block;
  }

  #main {
    margin: 10% 2%;
  }
}
